Repository guildedts/guide: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
	"*.{ts,js,md}": "eslint --fix",
	"*.{ts,js,md,json,yml,yaml}": "prettier --write"
}

feat: fix highlighting
  guide/creating-your-bot/README.md
Due: eslint --fix, prettier --write

feat: add CI
  .github/workflows/ci.yml
  package.json
Due: prettier --write

fix: fix eslint
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fix `prepare` script
  package.json
Due: prettier --write

feat: update linting
  .eslintrc.json
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update package.json
  .eslintrc.json
  package.json
Due: prettier --write

chore: update deps and pnpm
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: guilded colours
  .gitignore
Due: none

fix gitignore
  .gitignore
  guide/.vuepress/styles/index.scss
Due: none

fix formating
  guide/.vuepress/styles/index.scss
Due: none

chore: update deps
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: outdated docs
  .gitignore
  guide/Contributing.md
Due: eslint --fix, prettier --write

trying to fix gitignore
  guide/.vuepress/config.ts
  guide/.vuepress/configs/navbar.ts
  guide/.vuepress/configs/sidebar.ts
  guide/.vuepress/public/auth-tokens-menu.jpg
  guide/.vuepress/public/bot-context-menu.jpg
  guide/.vuepress/public/bots-page.jpg
  guide/.vuepress/public/create-a-bot-page.jpg
  guide/.vuepress/styles/index.scss
Due: eslint --fix, prettier --write

fix gitignore
  .gitignore
Due: none

feat: search
  guide/.vuepress/config.ts
  guide/.vuepress/styles/index.scss
Due: eslint --fix, prettier --write

feat: update styles
  guide/.vuepress/styles/index.scss
Due: none

feat: update README
  README.md
Due: eslint --fix, prettier --write

feat: update image urls
  guide/.vuepress/config.ts
Due: eslint --fix, prettier --write
